<!DOCTYPE html>
 
<html>
    <body>
        <style>
            body{
                margin: 0;
            }
            footer{
                background: #ed5323;
                text-align: center;
                padding: 10px 0;
            }
            footer p{
                font-size: 20px;
                color: #fff;
                margin: 0;
            }
            footer span{
                padding: 0 10px;
            }
        </style>
        <footer style="display:block;" class="footer">
            <p>
                <span>www.habitos.in</span>|
                <span>0422-4960101</span>|
                <span>info@habitos.in</span>
            </p>
        </footer>
    </body>
</html>