<h1>Editing Item Meal Restriction</h1>

<%= render 'form', item_meal_restriction: @item_meal_restriction %>

<%= link_to 'Show', @item_meal_restriction %> |
<%= link_to 'Back', item_meal_restrictions_path %>
