<section class="page-content">
  <div class="container-fluid">
    <p class="page_path">Master / Client type/ Edit Client type</p>
    <h2 class="header_title">Edit Client type <%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, client_categories_path, title:"Back", :class=>"btn btn_back"%></h2>
    <%= render 'form', client_category: @client_category %>
  </div>
</section>




<!-- <h1>Editing Client Category</h1>

<%#= render 'form', client_category: @client_category %>

 -->