<div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container"> 
  <div class="body-header">  
    	<h3 class="modal-title">Edit - Unit Of Measurement </h3>
  
  	</div>
  
  	
	  		<%= render 'form', unit_of_measurement: @unit_of_measurement %>    
    
            <%#= link_to 'Back', unit_of_measurements_bck_path %>
      
  	</div>

</div>


