<section class="page-content">
<div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container">
  <div class="body-header">  
    	<h3 class="modal-title">Add - Unit Of Measurement </h3>
   </div>
	  		<%= render 'form', unit_of_measurement: @unit_of_measurement %>    
    
</div>
</div>
</section>