<section class="page-content">
  <div class="container-fluid">
    <p class="page_path">Master / Client Type/ Add Client type </p>
    <h2 class="header_title">Add Client Type<%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, site_categories_path, title:"Back", :class=>"btn btn_back"%></h2>
    <%= render 'form', site_category: @site_category %>
  </div>
</section>








<!-- <section class="page-content">
 <div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container">  
  <div class="body-header">
        <h3 class="modal-title">Add - Site Category</h3>
   </div>
  	<%#= render 'form', site_category: @site_category %>    
</div>
</div>
</section> -->