<div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container">  
  <div class="body-header">
        <h3 class="modal-title">Edit - Meal Course</h3>
   </div>
    <%= render 'form', meal_course: @meal_course %>    
</div>
</div>


























<% if false %>

<h1>Editing Meal Course</h1>

<%= render 'form', meal_course: @meal_course %>

<%#= link_to 'Show', @meal_course %> |
<%= link_to 'Back', meal_courses_path %>

<% end %>