<div class="modal-dialog">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title"><%=@food_group_image%></h4>
</div>
<div class="modal-content">      
<div class="modal-body">
<%=image_tag @food_image,:style=>"height:300px;width:100%;"%>
</div>
</div>
</div>
