<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 dashboard-content">
      <h1 class="page-title">Stores
      </h1>
  </div>
  </div>
</div>











<h2><img src="/logo.png" height="72" width="72" /> Welcome to Stores !!!</h2>

<html>
<body>

<p></p>


<br>
<p><h3>Go to Stores: <a href="http://18.225.12.140:81/">Click Here<h3></a></p>
<img src="/stores_banner_Kitchen_Shop_1.png" height="500" width="1000" />


</body>
</html>