<div class="modal-dialog">

	<div class="modal-header">
    
    	<button type="button" class="close" data-dismiss="modal">&times;</button>
    
    	<h4 class="modal-title">Add Pages</h4>
  
  	</div>
  
  	<div class="modal-content">      
    
    	<div class="modal-body">

			<%= render 'form', page: @page %>
    	
    	</div>
  
  	</div>
  	
</div>

