<section class="page-content">
	 <div class="container-fluid">
	 	<p class="page_path">Facility Management / Facility / Add Facility</p>
		<h2 class="header_title">Add Facility <%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, kitchens_path, title:"Back", :class=>"btn btn_back"%></h2>
	 	<%= render 'form', kitchen: @kitchen %>
	</div>
</section>







<!-- was already there    -->

<!-- <section class="page-content">
<div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container ">  
  <div class="body-header">
        <h3 class="modal-title">Add Facility</h3>
          </div>
         <%#= render 'form', kitchen: @kitchen %>
   </div>
</div>
</section> -->

	
