<section class="page-content">
  <div class="container-fluid">
    <p class="page_path">SCM / Trip Management / Add Trip Management</p>
    <h2 class="header_title">Add Trip Management <%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, trip_details_path, title:"Back", :class=>"btn btn_back"%></h2>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" style="color: coral;">
        <%= value %>
        <button type="button" class="close" data-dismiss="alert"> &times; </button>
      </div>
    <% end %>

    <%= render 'form',trip: @trip, trip_details: @trip_detail  %>
  </div>
</section>











<!-- <h1>New Trip Detail</h1>

<%#= render 'form', trip: @trip, trip_details: @trip_detail %>

<%#= link_to 'Back', trip_details_path %> -->
