<div class="modal-dialog">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Nutrtion</h4>
</div>
<div class="modal-content">      
<div class="modal-body">
<iframe src=<%= @customer_view.nutrition_upload %> height="600px" width="100%" target="_blank"></iframe>
</div>
</div>
</div>
