<section class="page-content">
  <div class="container-fluid">
    <p class="page_path">CRM / Data Upload / Edit Data Upload </p>
    <h2 class="header_title">Edit Data Upload  <%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, customer_view_controls_path, title:"Back", :class=>"btn btn_back"%></h2>
    <%= render 'form', customer_view_control: @customer_view_control %>
  </div>
</section>