<section class="page-content">
  <div class="container-fluid">
    <p class="page_path">CRM / Data Upload / Add Data Upload</p>
    <h2 class="header_title">Add Data Upload <%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, customer_view_controls_path, title:"Back", :class=>"btn btn_back"%></h2>
    <%= render 'form', customer_view_control: @customer_view_control %>
  </div>
</section>

<!-- <section class="page-content">

 <div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container">  
    	<div class="body-header">
      <h3 > Add - View Control </span></h3>
    </div>  
	  <%#= render 'form', customer_view_control: @customer_view_control %>
</div>
</div>
</section> -->
    