<section class="page-content">
  <div class="container-fluid">
    <p class="page_path">Master / Vehicle Management/ Edit Vehicle Management</p>
    <h2 class="header_title">Edit Vehicle Management<%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, vehicles_path, title:"Back", :class=>"btn btn_back"%></h2>
    <%= render 'form', vehicle: @vehicle %> 
  </div>
</section>




<!-- <h1>Editing Vehicle</h1>

<%#= render 'form', vehicle: @vehicle %>

<%#= link_to 'Show', @vehicle %> |
<%#= link_to 'Back', vehicles_path %> -->
