body{
	font-family: 'Roboto', sans-serif;
}


p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

button:focus, .btn:focus{
    box-shadow: none !important;
    outline: 0px !important;
}

.page.active .header .navbar{
    width: calc(100% - 80px);
    transition: all 0.2s;
}

.page-content{
    margin-top: 75px;
}

.navbar {
    position: fixed!important;
    right: 0!important;
    width: calc(100% - 200px);
    padding: 5px 10px;
    min-height: 55px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 99;
    transition: all 0.3s;
}

/*.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}*/

/*.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}*/

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    z-index: 1;
    height: 100%;
    position: fixed;
    background: #414042;
    color: #fff;
    transition: all 0.3s;
    overflow: hidden;
}
/*#sidebar:hover{
    overflow-y: auto;
}*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    transition: all 0.2s;    
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 15px 5px;
    background: #414042;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 9;
}

#sidebar.active .sidebar-header {
    padding: 10px 5px;
    background: #414042;
    text-align: center;
}

#sidebar .sidebar-header img{
    width: 185px;
    transition: all 0.3s; 
}

#sidebar.active .sidebar-header img{
    width: 70px;
    transition: all 0.2s; 
}

#sidebar .list-group.panel a[aria-expanded="true"], #sidebar .list-group.panel a:hover, #sidebar .list-group.panel a:focus {
    color: #fff;
    background: #373638;
    border-left: 4px solid #ed5323;
}

#sidebar ul li.active > a{
    color: #fff;
    background: #373638;
    border-left: 4px solid #ed5323;
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .list-group.panel a i.ti-angle-right{
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin: 0;
    margin-top: -6px;
}

#sidebar.active .list-group.panel a i.ti-angle-right{
    float: none;
    position: relative;
    right: auto;
    top: auto;
    margin-top: 0;
}

/*#sidebar .list-group.panel a[aria-expanded="false"] i.fa-angle-right::before,#sidebar .list-group.panel a[aria-expanded="true"] i.fa-angle-right::before {
    content: "\f105";
    font-size: 1em;
}
#sidebar .list-group.panel a[aria-expanded="true"] i.fa-angle-right::before {
    content: "\f106";
}


#sidebar.active .list-group.panel a[aria-expanded="false"] i.fa-angle-right::before,#sidebar.active .list-group.panel a[aria-expanded="true"] i.fa-angle-right::before {
    content: "\f107";
    font-size: 1em;
}
#sidebar.active .list-group.panel a[aria-expanded="true"] i.fa-angle-right::before {
    content: "\f106";    
}*/

#sidebar .list-group.panel a[aria-expanded="false"] i.ti-angle-right::before,#sidebar .list-group.panel a[aria-expanded="true"] i.ti-angle-right::before {
    content: "\e649";
}
#sidebar .list-group.panel a[aria-expanded="true"] i.ti-angle-right::before {
    content: "\e64b";
}

#sidebar.active .list-group.panel a i.ti-angle-right{
    font-size: 0.8em;
}
#sidebar.active .list-group.panel a[aria-expanded="false"] i.ti-angle-right::before,#sidebar.active .list-group.panel a[aria-expanded="true"] i.ti-angle-right::before {
    content: "\e64b";
}
#sidebar.active .list-group.panel a[aria-expanded="true"] i.ti-angle-right::before {
    content: "\e648";    
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header img {
        display: none;
    }

    #sidebar.active .sidebar-header img {
        display: block;
    }

    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


#sidebar .list-group a{
    color: #fff;
    background-color: #414042;    
    font-size: 15px;
    border-radius: 0px;
    padding: .75rem 0.9rem;
}

#sidebar .list-group a i{
    margin-right: 5px;
}

#sidebar.active .list-group a i{
    margin-right: 0px;
}

#sidebar .list-group a i.fa-angle-right{
    margin-right: 0px;
}

#sidebar .list-group.panel{
    background-color: #414042;
    max-height: calc(100vh - 214px);
    padding: 15px 0px;
}

#sidebar.active .list-group.panel{
    max-height: calc(100vh - 90px);
}

/*#sidebar.active .list-group.panel:hover{
    overflow-y: auto;
}
*/
#sidebar.active .list-group.panel a span{
    font-size: 0.8rem;
    overflow: hidden;
    width: 65px;
    text-overflow: ellipsis;
}

#sidebar.active .list-group.panel a i{
    font-size: 1.5rem;   
}

#sidebar.active .list-group-item{
    border: none;
    text-overflow: ellipsis;
    padding: 10px 4px;
}

#sidebar .list-group-item{
    border: none;
}

#sidebar .collapse a.list-group-item{
    font-size: 15px;
    border-radius: 0;
    background-color: #2f2f2f;
    border-left: 4px solid #ed5323;   
}
#sidebar.active .list-group.panel .collapse a.list-group-item{
    font-size: 12px !important;
}
#sidebar .collapse{
    background-color: #2f2f2f;
}

#sidebar .sidebar-header h3{
    font-size: 21px;
    margin-bottom: 0px;
    display: inline-flex;
    align-content: center;
}

#sidebar .list-group.panel .collapse a[aria-expanded="true"], #sidebar .list-group.panel .collapse a:hover, #sidebar .list-group.panel .collapse a:focus {
    color: #fff;
    background: #2e60ad;
    border-left: none;
    border-radius: 0;
}

#sidebar .list-group.panel .collapse a:hover, #sidebar .list-group.panel .collapse a:focus{
    border-left: 4px solid #ed5323;
    background-color: #414042; 
}


.page{
	position: absolute;
    top: 0;
    right: 0;
    transition: width 0.3s linear;
    width: calc(100% - 200px);
    background-color: #f9f9f9;
    min-height: 100vh;
    padding-bottom: 35px;	
}

.page.active {
    width: calc(100% - 80px);
    transition: width 0.1s linear;
}

nav.navbar .badge {
    position: absolute;
    top: 0;
    right: 0;
}

.badge {
    font-weight: 400;
    border-radius: 0;
}

nav.navbar .navbar-header{
	width: 50px;
}

nav.navbar a.menu-btn {
    font-size: 22px;
    color: #ed5323;
}

nav.navbar a.menu-btn i[class*='icon-'] {
  transform: translateY(4px);
}

.page.active footer.main-footer{
    width: calc(100% - 80px);
}

footer.main-footer {
    position: fixed;
    width: calc(100% - 200px);
    bottom: 0;
    right: 0;
    background-color: #828282;
    padding: 8px 0;
    transition: all 0.3s ease;
}

footer.main-footer p {
    font-size: 11px;
    color:#fff;
    margin-bottom: 0px;
}

footer.main-footer p a:hover{
    text-decoration: underline;
}

a.nav-link.logout {
    color: #414042;
    font-size: 18px;
    padding: .6rem 0rem;
}


@media (max-width: 768px){
    .page {
    width: 100%;
    }

    #sidebar .sidebar-header h3 {
        display: none;
    }  
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    transition: all 0.3s ease;
}
.mCSB_scrollTools .mCSB_draggerRail{
    transition: all 0.3s ease;
}
.mCSB_scrollTools:hover .mCSB_dragger .mCSB_dragger_bar{
    width: 10px;
    border-radius: 2px;
}
.mCSB_scrollTools:hover .mCSB_draggerRail{
    transition: all 0.3s ease;
    width: 10px;
}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background-color: rgb(237, 83, 35);
}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(237, 83, 35, 0.3);
}

.loading {
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    z-index: 9999;
    top: 57px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}