<html>
 <body>
  <input type="text" name="">
   <table class="table table-striped table-bordered table-hover plan" id="tripplan" style="margin-top: 25px;">
      <thead>
        <tr>
          <th>test</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
   </table>
 </body>
</html>

















