 <section class="page-content">
  <div class="container-fluid">
    <p class="page_path">Master / Vehicle Type / Add  Vehicle Type</p>
    <h2 class="header_title">Add  Vehicle Type <%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, vehicle_types_path, title:"Back", :class=>"btn btn_back"%></h2>
    <%= render 'form', vehicle_type: @vehicle_type %> 
  </div>
</section> 





<!-- 
<h1>New Vehicle Type</h1>

<%#= render 'form', vehicle_type: @vehicle_type %>

<%#= link_to 'Back', vehicle_types_path %> -->
