<section class="page-content">
  <div class="container-fluid">
    <p class="page_path">Master / Meal Course/ Edit Meal Course</p>
    <h2 class="header_title">Edit Meal Course <%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, categories_path, title:"Back", :class=>"btn btn_back"%></h2>
    <%= render 'form', category: @category %>
  </div>
</section>

<!--  <div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container">  
    	<div class="body-header">
      <h3 > Edit - Meal Course </span></h3>
    </div>  
	  <%#= render 'form', category: @category %>
</div>
</div> -->

