<section class="page-content">
  <div class="container-fluid">
    <p class="page_path">Master / Depriciation Category/ Edit Depreciation Category</p>
    <h2 class="header_title">Edit Depriciation Category <%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, depriciation_categories_path, title:"Back", :class=>"btn btn_back"%></h2>
    <%= render 'form', depriciation_category: @depriciation_category %>
   </div>
</section>







<!-- <div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container"> 
  <div class="body-header">  
<h3 class="modal-title">EDIT-DEPARTMENT</h3>
</div>
<%#= render 'form', depriciation_category: @depriciation_category %>
</div>
</div> -->
<%#= link_to 'Show', @depriciation_category %> |
<%#= link_to 'Back', depriciation_categories_path %>
