<section class="page-content">
  <div class="container-fluid">
    <p class="page_path">Master / Depriciation Category/ Add Depreciation Category</p>
    <h2 class="header_title">Add Depriciation Category <%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, depriciation_categories_path, title:"Back", :class=>"btn btn_back"%></h2>
    <%= render 'form', depriciation_category: @depriciation_category %>
   </div>
</section>




<!-- <div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container"> 
  <div class="body-header">    
<h3 class="modal-title">Add- Depriciation Category</h3>
</div>
<%#= render 'form', depriciation_category: @depriciation_category %>


 -->