<section class="page-content">
  <div class="container-fluid">
    <p class="page_path">Master / Audit Feedback Category / Edit Audit Feedback Category</p>
    <h2 class="header_title">Edit Audit Feedback Category  <%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, audit_feedback_categories_path, title:"Back", :class=>"btn btn_back"%></h2>
    <%= render 'form', audit_feedback_category: @audit_feedback_category
     %>
    
  </div>
</section>








<!-- <h1>Editing Audit Feedback Category</h1>

<%#= render 'form', audit_feedback_category: @audit_feedback_category %>

<%#= link_to 'Show', @audit_feedback_category %> |
<%#= link_to 'Back', audit_feedback_categories_path %> -->
