<section class="page-content">
  <div class="container-fluid">
    <p class="page_path">Master / Kitchen Users / Add Kitchen Users</p>
    <h2 class="header_title">Add Kitchen Users <%= link_to '<i class="fas fa-arrow-left"></i>Back'.html_safe, kitchen_users_path, title:"Back", :class=>"btn btn_back"%></h2>
    <%= render 'form', kitchen_user: @kitchen_user %>
  </div>
</section>

<!-- <section class="page-content">
<div class="col-md-12 col-sm-8 body-wrap">
  <div class="body-container">  
      <div class="body-header">
      <h3 >Add - Kitchen Users</span></h3>
    </div>
<%#= render 'form', kitchen_user: @kitchen_user %>
</div>
</div>
</section> -->