<footer class="main-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <p><i class="fa fa-copyright"></i> Copyright 2017 Habitos. All Rights Reserved.</p>
      </div>
      <div class="col-sm-6 text-right">
        <p>Design by&nbsp;<a href="http://www.altiussolution.com/" target="_blank" class="external">Altius Technology Solutions</a></p>
      </div>
    </div>
  </div>
</footer>
